@mixin white-gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

@keyframes scroll {
  0% {
    transform: translateX(calc(-240px * 7))
    
  }

  100% {
    transform: translateX(0);
  }
}


.slider {
  background: #FC9532;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: fit-content;
  margin: auto;
  overflow: hidden;
  position: relative;
  font-size: 10px;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: fit-content;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(240px * 14);
  }

  .slide {
    height: fit-content;
    width: 240px;
  }
}